/*TYPOGRAPHY*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway:400,600,700');

body {
	font-family: 'Raleway', sans-serif;
	color: #2c3539; }

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #2c3539;
	text-transform: uppercase; }
	
h2 { font-size: 1.75rem; }
h3 { font-size: 1.3125rem; }
h4 { font-size: 1.25rem; }




/* NAVIGATION */
#main-navigation {
	height: 72px;
	position: relative;
	border-bottom: 1px solid #f5f5f5;
	z-index: 100; }
	
#main-navigation ul {
	padding: 0;
	margin: 0;
	margin-right: 1rem;
	margin-top: 24px;
	float: right;
	display: table;
	list-style-type: none; }
	
#main-navigation ul li { display: table-cell; }

#main-navigation ul a {
	font-size: 1rem;
	font-weight: 600;
	color: #94c44b;
	height: 24px;
	padding-left: 1rem;
	padding-right: 1rem;
	display: block; }
	


#social-media-navigation {
	padding: 0;
	margin: 0;
	display: table;
	list-style-type: none; }
	
#social-media-navigation li {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	display: table-cell; }
#social-media-navigation li:first-child { padding-left: 0; }
#social-media-navigation li:last-child { padding-right: 0; }

#social-media-navigation a {
	color: #94c44b; 
	background-color: #fff;
	width: 48px;
	height: 48px;
	display: block;
	position: relative;
	border-radius: 50%; }
	
#social-media-navigation i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
	
	

#practitioner-action {
	padding: 0;
	margin: auto;
	margin-bottom: 1rem;
	display: table;
	list-style-type: none; }
.search-result #practitioner-action { display: block; }
	
#practitioner-action li {
	padding-right: 2rem;
	display: table-cell;
	position: relative; }
.search-result #practitioner-action li { padding-right: 0; }

#practitioner-action div {
	color: #fff;
	background-color: #2c3539;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%; }
.search-result #practitioner-action div {
	background-color: #94c44b;
	width: 32px; height: 32px; }
	
#practitioner-action i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
.search-result #practitioner-action div i { font-size: 12px; }

#practitioner-action a {
	color: #2c3539;
	line-height: 40px;
	text-align: left;
	text-transform: uppercase;
	height: 40px;
	padding-left: 48px;
	display: block; }
.search-result #practitioner-action a {
	font-size: 12px;
	line-height: 32px;
	height: 32px;
	padding-left: 40px; }




.navigation-footer {
	padding: 0;
	margin: 0;
	list-style-type: none; }
	
.navigation-footer li {
	padding: 0;
	margin-bottom: 1rem; }
	
.navigation-footer a {
	font-size: 0.875rem;
	color: #fff; }



#main-navigation .logo-text {
	margin-top: 20px;
	display: block; }
	
#main-navigation .logo-mark {
	background-color: #fff;
	background-image: url(../img/logo-mark.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 112px;
	height: 112px;
	border-radius: 50%;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	border: 2px solid #94c44b;
	transform: translate(-50%, 50%); }

.trigger-menu {
	width: 30px;
	height: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
	display: block;
	position: relative;
	float: right; }
.trigger-menu:before, .trigger-menu:after {
	content: "";
	background-color: #94c44b;
	height: 4px;
	position: absolute;
	right: 0; }
.trigger-menu:before {
	width: 15px;
	top: 0; }
.trigger-menu:after {
	width: 21px;
	bottom: 0; }

.trigger-menu span {
	background-color: #94c44b;
	width: 100%;
	height: 4px;
	display: block;
	position: absolute;
	top: 10px; }




/* HEADER */
header { position: relative; }
header h1 { font-family: 'Permanent Marker', cursive; }

#home-header { margin-bottom: 6rem; }
#practitioner-header { margin-bottom: 0; }

.container { width: 100%; }
#home-header .container {
	position: absolute;
	left: 0;
	bottom: -40px; }
	

section .header-large {
	background-color: #f2f2f2;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 480px; }
	
section .header-large h1 {
	color: #fff;
	margin-bottom: 2rem;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3); }
	
	
section .header-small {
	background-color: #f2f2f2;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 240px; }

	
	
	
/* SECTION */
section { margin-bottom: 5rem; }
#home-recommended-reading { margin-bottom: 10rem; }

section header h2 {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
	position: relative; }
	
section header h2 span {
	background-color: #fff;
	padding-left: 1rem;
	padding-right: 1rem; 
	display: inline-block;
	position: relative; }
section header h2:before {
	content: "";
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	top: 50%;
	border-bottom: 1px solid #992266; }
	
	

#practitioner-info h2 {
	padding-left: 1rem;
	padding-right: 1rem;
	display: inline-block;
	border-bottom: 1px solid #992266; }
	
#practitioner-info h3 { color: #94c44b; }

#practitioner-info .thumb {
	width: 160px;
	margin: auto;
	margin-top: -80px;
	position: relative;
	border-radius: 50%; }

#practitioner-info .thumb img {
	background-color: #f2f2f2;
	overflow: hidden;
	width: 160px;
	height: 160px;
	display: block;
	border: 3px solid #fff;
	border-radius: 50%; }
	

#practioner-map .map {
	background-color: #f2f2f2;
	width: 100%;
	height: 480px; }




/* */
.icon-for-practitioners {
	color: #fff;
	background-color: #94c44b;
	width: 128px;
	height: 128px;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
	position: relative;
	border-radius: 50%; }
.icon-for-practitioners:hover { color: #94c44b; }
	
.icon-for-practitioners i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
	
.icon-for-practitioners + h3 { text-align: center; }
	
.icon-for-practitioners + h3 + p { font-size: 0.875rem; }




/* */
.recommended-article .row { margin-bottom: 3.5rem; }

.recommended-article h3 a { color: #94c44b; }

.recommended-article .thumb {
	position: relative;
	border-radius: 50%; }

.recommended-article .thumb a {
	background-color: #f2f2f2;
	overflow: hidden;
	width: 72px;
	height: 72px;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	border: 3px solid #fff;
	border-radius: 50%;
	transform: translate(-50%, 50%); }
	
	
	
.search-result-container .button {
	font-weight: 700;
	text-transform: uppercase;
	background-color: #992266;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem; }
	
.search-result-container h4 { color: #94c44b; }

	
	
.search-result { display: table; margin-bottom: 2rem; }

.search-result div {
	display: table-cell;
	vertical-align: top; }
.search-result > div:last-child { padding-left: 0.625rem; } 
	
.search-result .thumb {
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 3px solid #94c44b; }
	
.search-result .thumb img { border-radius: 50%; }



.plans {
	height: inherit;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 1px solid #999; }
.plans.highlight {
	border: 1px solid #992266!important; }

.plans h1 {
	line-height: 5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-bottom: 1px solid #e1e1e1; margin-bottom: 1.5rem; }

.plans h1, .plans h3, .plans p { color: #666; }
.plans.highlight h1, .plans.highlight h3, .plans.highlight p { color: #992266; }
.plans h1 sub { font-size: 0.25em; }

.plans ul {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-bottom: 1px solid #e1e1e1; }
	
.plans .button {
	font-weight: 700;
	text-transform: uppercase;
	background-color: #999;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem; }
.plans.highlight .button { background-color: #992266; }



#membership-level h3 {
	font-weight: 400;
	color: #94c44b; }
	
#membership-level h3 strong {
	font-size: 2em;
	font-weight: 700; }
	
#membership-level h4 { color: #666; }
	
#membership-level h4 strong {
	font-weight: 700;
	font-size: 1.25em;
	color: #94c44b; }






/* FOOTER */
#main-footer {
	background-color: #94c44b;
	padding-top: 4rem;
	padding-bottom: 4rem; }
	
#main-footer h3 {
	color: #fff;
	text-transform: uppercase; }
	
#main-footer p {
	font-size: 0.875rem;
	color: #fff; }

	
#main-footer .logo {
	background-image: url(../img/logo-wmp.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 100px;
	height: 96px;
	margin: auto;
	display: block; }

	
	
	
/* FORM */
input[type="text"], input[type="email"], input[type="password"] {
	height: 2.5rem;
	box-shadow: none; }
	
form .required { position: relative; }
form .required:before {
	content: "*";
	font-size: 3rem;
	color: #992266;
	line-height: 0.75;
	position: absolute;
	right: -4px;
	top: 0; }
	
form label {
	font-size: 1rem;
	padding-top: 2px;
	padding-bottom: 2px; }



#home-search input[type="text"] {
	height: 2.5rem;
	box-shadow: none; }
	
#home-search select {
	background: none;
	background-color: #fff;
	height: 2.5rem; }
	
#home-search button {
	color: #fff;
	background-color: #992266;
	width: 80px;
	height: 80px;
	margin-top: 2rem;
	position: relative;
	border: 3px solid #fff;
	border-radius: 50%;
	cursor: pointer; }
	
#home-search button i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }
	
#home-search .btn-location {
	color: #666;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.9375rem;
	display: block;
	position: absolute;
	right: 0;
	top: 0; }
#home-search .btn-location:hover { color: #992266; }
	
#home-search .row, #home-search .columns { position: relative; }
	
#home-search .btn-location i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }
	
#home-search .advanced-search {
	font-size: 0.75rem;
	font-weight: 600;
	color: #1a1a1a; }
	


#register-form { margin-bottom: 4rem; }

#register-form header { margin-top: 5rem; }
#register-form header:first-child { margin-top: 0; }


#register-form header h2 {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
	position: relative; }
	
#register-form header h2 span {
	background-color: #fff;
	padding-left: 1rem;
	padding-right: 1rem; 
	display: inline-block;
	position: relative; }
#register-form header h2:before {
	content: "";
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	top: 50%;
	border-bottom: 1px solid #992266; }
	
#register-form p { color: #666; }

#register-form .button {
	font-weight: 700;
	text-transform: uppercase;
	background-color: #992266;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem; }


.faux-checkbox input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0; }
	
.faux-checkbox label {
	padding-left: 40px;
	position: relative;
	z-index: 2; }
	
.faux-checkbox label:before {
	content: "";
	width: 32px;
	height: 32px;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #999; }
	
.faux-checkbox label:after {
	content: "\f00c";
	font: normal normal normal 21px/1 FontAwesome;
	color: #666;
	text-align: center;
	line-height: 32px;
	width: 32px;
	height: 32px;
	margin: 0;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #999; }
	
.faux-checkbox input[type="checkbox"]:checked + label:after { display: block!important; }